@if (Visible)
{
    <NavLink class="nav-link" href="@Href" Match="NavLinkMatch.All">
        <i class="@Icon"></i>
        <span>@Label</span>
    </NavLink>
}

@code {
    [Parameter] public string Href { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public bool Visible { get; set; } = true;
}
