@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="layout">
    <Shared.TopBar />
    <div style="display:flex;">
        <Shared.NavMenu />
        <main class="main-content">
            @Body
        </main>
    </div>
</div>
